<main>
  <div class="row justify-content-md-center">
    <div class="col-4">
      <h3>Friendship Form</h3>
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="email" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="friendUsername" class="form-label">Friend Username</label>
          <input type="email" class="form-control" id="friendUsername" name="friendUsername" required>
        </div>
        <div class="mb-3">
          <label for="friendHost" class="form-label">Friend Host</label>
          <input type="text" class="form-control" id="friendHost" name="friendHost" required>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</main>