<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="#/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" data-navigo>
      <span>Friendship Protocol</span>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#/" class="nav-link nav-home" aria-current="page" data-navigo>Add Friend</a></li>
      <li class="nav-item"><a href="#/friends" class="nav-link nav-friends" data-navigo>List Friends</a></li>
      <li class="nav-item"><a href="#/requests" class="nav-link nav-requests" data-navigo>List Requests</a></li>
    </ul>
  </header>